<section class="d-flex align-items-center justify-content-center">
    <form>
        <div class="row mt-4 text-center" >
            <div class="col-12">
                <img [src]="logo" alt="logo" class="logo">
            </div>
            <div class="col-12">
            <input type="text" pInputText [(ngModel)]="value" name="username" />
            </div>
            <div class="col-12 mt-2">
            <p-password [(ngModel)]="value" [feedback]="false"></p-password>
            </div>
        </div>
    </form>
</section>
